
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
}


a {
    text-decoration:none;
}

p {
    margin: 0.75rem 0;
}

/* utility primary */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-primary {
    color:royalblue;
}


.bg-light {
    background: whitesmoke;
    color: black;
}


.bg-dark {
    background: #333;
    color: white;
}

.bg-primary {
    background: #93cb52;
    color: #fff;
}
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}


.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.btn {
    display: inline-block;
    color: blanchedalmond;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}


.btn:hover {
    background: #7ab436;
}


.btn-dark {
    background: #333;
    color:#fff ;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background:  black;
    color: rgb(235, 223, 223);
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;

}


#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}


#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;

}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}



/* Showcase */

#showcase {
    background: rgb(255, 255, 255) url('../img/item_1.jpg.jpg')
    no-repeat center center/cover;
    height: 100vh;
    color: rgb(244, 244, 248);
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 60px;
    left: 0;
    
}

.text-center {
    text-align: center;
}

.py-1 { padding: 1.5rem;}
.py-2{ padding: 2rem ;}
.py-3{ padding: 3rem 0;}


.p-1 { padding: 1.5rem 0;}
.p-2 { padding: 2rem 0;}
.p-3 { padding: 3rem 0;}


#what .item  {
    display: flex;
    padding: 1rem;
}




#what .item .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}


/* Section Who we Are */

#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url('../img/item_2.jpg.jpg') no-repeat
    center center/cover;
}


.list {
    margin: 0.5rem;
    list-style: none;

}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

/* clients */

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

#contact {
display: flex;
}

#contact .map, #contact .contact-form {
     flex: 1;
}

#contact .contact-form .contact-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width:100% ;
    padding:0.5 ;
}
